<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item title" href="{{#with (and site.url site.homeUrl)}}{{{@root.site.url}}}{{{this}}}{{else}}{{{siteRootPath}}}{{/with}}">{{site.title}}</a>
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        {{#with (resolvePage 'index.adoc' component='user-guide')}}<a class="navbar-item" href="{{relativize ./url}}">User Guide</a>{{/with}}
        {{#with (resolvePage 'index.adoc' component='developer-guide')}}<a class="navbar-item" href="{{relativize ./url}}">Developer Guide</a>{{/with}}
        <a class="navbar-item has-icon" href="https://github.com/sdavids/sdavids-shell-misc" target="_blank" rel="noopener">
          <span class="icon"><img src="{{{uiRootPath}}}/img/octicons-16.svg#view-mark-github"></span>
        </a>
      </div>
    </div>
  </nav>
</header>
